SUPERFRETE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3ODkzMzA2NTIsInN1YiI6Ikt5YUJUSW5oa3dadHdERkF1U21CbHVLVk5KSzIifQ.U1XBE3HFoTaBEggkzUenpT49hfuh4kcoCx48h07SJ2M
FRONTEND_ORIGIN=https://juninhods.github.io/Catalogo-mantosagrado01
SUPERFRETE_USER_AGENT=Manto Sagrado Catalogo/1.0 (seuemail@gmail.com)